:root {
  --code-bg: #0e2233;
}

pre[class*="language-"] {
  padding: 1.0em;
  margin: .5em 0;
  overflow: auto;
  margin-bottom: var(--space);
  border-radius: 3px;

  code {
    font-family: Space Mono,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-feature-settings: "liga" 0;
    line-height: 1.5;
    font-size: 0.9em;
    direction: ltr;
    text-align: left;
    word-spacing: normal;
    word-break: normal;
    tab-size: 2;
    hyphens: none;
    text-shadow: none;
  }
  &.ulixeeTheme {
    background-color: var(--code-bg);
    code {
      color: #d8d8d8;
    }
  }
}

pre[class*="language-"] {
  &::-moz-selection, & ::-moz-selection,
  code::-moz-selection, code ::-moz-selection {
    text-shadow: none;
  }

  &::selection, & ::selection,
  code::selection, code ::selection {
    text-shadow: none;
  }
}

// Inline code
:not(pre[class*="language-"]) > code {
  margin-left: 3px;
  padding: 0.2rem 0.33rem;
  vertical-align: 1%;
  font-size: .78em;
  &.ulixeeTheme {
    color: var(--inline-code-text);
    background-color: var(--inline-code-bg);
  }
}

// HTML code
.language-html {
  font-variant-ligatures: none;
}

.ulixeeTheme {
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #585858;
  }

  .token.comment {
    color: #8aa1b4;
    white-space: break-spaces;
  }

  .token.punctuation {
    color: #d8d8d8;
  }

  .token.property {
    color: #d839dd;
  }

  .token.namespace {
    opacity: .7;
  }

  .token.operator {
    background: none;
  }

  .token.boolean,
  .token.number {
    color: #e2777a;
  }

  .token.string {
    color: #7ec699;
  }

  .token.selector {
    color: #ba8baf;
  }

  .language-css {
    color: #7ec699;
    .token.punctuation {
      color: #f8f8f8;
    }
    .token.property {
      color: #d8d8d8;
    }
  }

  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #86c1b9;
  }

  .token.control,
  .token.directive,
  .token.unit {
    color: #7ec699;
  }

  .token.keyword {
    color: #cc99cd;
  }

  .token.function {
    color: #dd9a6d;
  }

  .token.tag {
    color: #e2777a;
    .token.punctuation {
      color: rgba(#e2777a, 0.85);
    }
  }

  .token.attr-name {
    color: lighten(#e2777a, 7);
  }
  .token.attr-value {
    color: #7ec699;
    .token.punctuation {
      color: #f8f8f8;
    }
  }

  .token.statement,
  .token.regex,
  .token.atrule {
    color: #86c1b9;
  }

  .token.placeholder,
  .token.variable {
    color: #7cafc2;
  }

  .token.deleted {
    text-decoration: line-through;
  }

  .token.inserted {
    border-bottom: 1px dotted #f8f8f8;
    text-decoration: none;
  }

  .token.italic {
    font-style: italic;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }

  .token.important {
    color: #ab4642;
  }

  .token.entity {
    cursor: help;
  }
}
