[submodule "hero"]
	path = hero
	url = git@github.com:ulixee/hero.git
	branch = main
[submodule "runner"]
	path = runner
	url = git@github.com:ulixee/runner.git
	branch = main
[submodule "databox"]
	path = databox
	url = git@github.com:ulixee/databox.git
	branch = main
