node_modules
.data-test
*yarn-error.log
package-lock.json
npm-debug.log
lerna-debug.log

coverage
.DS_Store
tsconfig.tsbuildinfo

.idea/
.history/

/website/public/data

**/.env

.cache-test

**/build/
/build-dist/

**/dist
/.eslintcache
connect
/datastore/examples/*.ts
!/datastore/examples/basic.ts
!/datastore/examples/extract*
!/datastore/examples/news.ycombinator*
!/datastore/examples/ulixee*

/.rollup.cache/
/website/firebase-debug.log
.vs
.*.sh
