node_modules
.data-test
*yarn-error.log
package-lock.json
npm-debug.log
lerna-debug.log

coverage
.DS_Store
tsconfig.tsbuildinfo

.idea/
.history/

/website/public/data

**/.env

.cache-test

**/build/
/build-dist/

**/dist
/.eslintcache
connect
/datastore/examples/codepen.ts
/datastore/examples/duckduckgo.ts
/datastore/examples/creep.ts
/datastore/examples/frame.ts
/.rollup.cache/
/website/firebase-debug.log
