node_modules
.data-test
*yarn-error.log
package-lock.json
npm-debug.log
lerna-debug.log

coverage
.DS_Store
tsconfig.tsbuildinfo

.idea/
.history/

**/.env

.cache-test

**/build/
/build-dist/

**/dist
/.eslintcache
connect
/databox/examples/codepen.ts
/databox/examples/duckduckgo.ts
