
.Json {
  font-family: 'Monaco', 'Menlo', 'Consolas', 'Bitstream Vera Sans Mono', monospace;
  font-size: 12px;
  text-align: left;

  .JsonNode {
    display: flex;
    position: relative;

    &.highlighted {
      background-color: #f3fbff;
    }

    .key {
      padding-right: 5px;
    }

    .brackets,
    .comma {
      color: #949494;
    }

    .indent {
      flex: 0 0 1em;
      border-left: 1px dashed #d9d9d9;
    }

    .comment {
      color: #bfcbd9;
    }

    .value-null {
      color: #ff4949;
    }

    .value-number {
      color: #1d8ce0;
    }

    .value-boolean {
      color: #1d8ce0;
    }

    .value-string {
      color: #13ce66;
    }
  }
}
