$borderColor: rgba(51, 0, 73, 0.15);
$borderColorHover: rgba(51, 0, 73, 0.25);
$borderColorSelected: rgba(198, 99, 255, 1);
$borderColorSelectedLight: rgba(198, 99, 255, 0.5);
$borderRadius: 17px;

$bgColor: #f1f3f4;
$bgColorHover: #f0e4f5;
$bgColorSelected: white;

$shadowColor: rgba(51, 0, 73, 0.2);
$shadowColorEnhanced: rgba(51, 0, 73, 0.3);

$arrowSize: 28;

$textColor: #999999;
$textColorHover: #777777;
$textColorSelected: #7c4693;

// https://codepen.io/sosuke/pen/Pjoqqp
$iconFilterSelected: invert(36%) sepia(14%) saturate(2146%) hue-rotate(238deg) brightness(90%)
  contrast(95%);
$iconOpacity: 0.4;
$iconOpacityHover: 0.4;
$iconOpacitySelected: 1;

$fontSize: 12px;
